.full-height-center {
  height: 100vh;
}

.login-card {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-floating {
    width: 100%
}

.button-left-margin-white {
  width: 50%;
  margin-left: 23px;
  background-color: white;
  color: #0d6efd;
}

.button-left-margin-blue {
  width: 50%;
  margin-left: 23px;
}