# Node.js related
node_modules/
#.env => should be there usually, but in our program instructions we were told to keep it visible.
logs/
*.log
npm-debug.log*

# C/C++ related
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/
*.stackdump
*.gcno
*.gcda
*.gch

# General OS/editor garbage
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
*.tmp
