.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #444;
  font-size: 16px;
  width: 10%;
  transition: background-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.label-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
}

.label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label:hover {
  background-color: #f1f3f4;
}

.label-menu-button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  display: none;
  padding: 4px;
}

.label:hover .label-menu-button {
  display: inline;
}

.label.active {
  background-color: #d3e3fd;
  color: #1a73e8;
  font-weight: 600;
}

[data-bs-theme="dark"] .label {
  color: #ddd;
}

[data-bs-theme="dark"] .label:hover {
  background-color: #333;
}

[data-bs-theme="dark"] .label.active {
  background-color: #3a4a61;
  color: #aad1ff;
}

[data-bs-theme="dark"] .label-menu-button {
  color: #aaa;
}
