.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #444;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.customLabelMenu {
  width: 100%;
}

.customLabelMenu.collapsed {
  width: 64px;
}

.label-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
}

.label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label:hover {
  background-color: #f1f3f4;
}

.label-menu-button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  display: none;
  padding: 4px;
}

.label:hover .label-menu-button {
  display: inline;
}

.label.active {
  background-color: #d3e3fd;
  color: #1a73e8;
  font-weight: 600;
}

[data-bs-theme="dark"] .label {
  color: #ddd;
}

[data-bs-theme="dark"] .label:hover {
  color: #333;
}

[data-bs-theme="dark"] .label.active {
  background-color: #3a4a61;
  color: #aad1ff;
}

[data-bs-theme="dark"] .label-menu-button {
  color: #aaa;
}

.labels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
}

.customLabelMenu.collapsed .labels-header {
  justify-content: center;
  padding: 10px 0;
}

.customLabelMenu.collapsed .labels-title {
  display: none;
}

.labels-title {
  font-size: 16px;
  font-weight: 600;
  color: #444;
}


[data-bs-theme="dark"] .labels-title {
  color: #ddd;
}

[data-bs-theme="dark"] .labels-header {
  color: #ddd;
}
.addCustomLabel-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.addCustomLabel-button:hover {
  background-color: #e3efff;
  color: #000000;
}

[data-bs-theme="dark"] .addCustomLabel-button {
  color: #ddd;
}


[data-bs-theme="dark"] .addCustomLabel-button:hover {
  color: #444;
}